body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  transition: background-color 0.5s ease; 
}

h1 {
  text-align: center;
  margin: 0;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-button {
  background-color: red;
  color: white;
}

.blue-button {
  background-color: blue;
  color: white;
}

.green-button {
  background-color: green;
  color: white;
}
